.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  width: 100%;
  margin-top: 2rem;
}
.title{
  display: flex;
  align-items: center;
  gap: 8px;
}
.created{
  color: var(--Blue, #4EA8DE);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.concluded{
  color: var(--Purple, #8284FA);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.badge{
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--Gray-400, #333);
  color: var(--Gray-200, #D9D9D9);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}