.heading {
  background-color: #0D0D0D;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  max-width: 37.875rem;
  margin: 0 auto;
}